body{
    background-color: rgb(255, 255, 255);
}
a:link{
    color: black;
}
h1{
    font-family: Arial;
    font-size: 10rem;
}
img{
    border: solid 2px blue;
    height: 200px;
}
.borda1{
    font-family: Cambria;
    font-size: 1rem;
    border: solid 2px blue;
}
.botao{
    background-color: blue;
    color: white;
    font-size: 4rem;
    text-decoration: none;
}
div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
}